<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- Librerias -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!-- iconos vectoriales -->

    <!-- Archivos CSS -->

    <link rel="stylesheet" href="/Login/static/Login.css">
    <link rel="stylesheet" href="/Login/static/Login-Resposive.css">

</head>

<body>

    <div class="Contenedor-Login">
            
        <div class="Contenedor-Ilustracion">

            <div class="icon-wrapper"><i class="fa-solid fa-desktop"></i></div> <!-- Punto central -->
            <div class="orbit orbit1"><span class="planet"><i class="fa-regular fa-circle"></i></span></div> <!-- Planetas -->
            <div class="orbit orbit2"><span class="planet"><i class="fa-solid fa-star"></i></span></div>
            <div class="orbit orbit3"><span class="planet"><i class="fa-solid fa-play"></i></span></div>
            <div class="orbit orbit4"><span class="planet"><i class="fa-solid fa-star"></i></span></div>
            <div class="orbit orbit5"><span class="planet"><i class="fa-solid fa-play"></i></span></div>
            <div class="orbit orbit6"><span class="planet"><i class="fa-regular fa-circle"></i></span> </div>
    
        </div>

        <div class="form-section">

            <h1>Inicio de Sesion</h1>

            <form>

                <div class="Mini-Contenedor-Input"><i class="fa-solid fa-id-card"></i><input placeholder="Carnet" required></div>
                <div class="Mini-Contenedor-Input"><i class="fa-solid fa-lock"></i><input type="password" placeholder="Contraseña" required></div>
                <button type="submit" class="Btn-Login">Login</button>
                
            </form>

        </div>

    </div>

</body>

</html>